In [1]:

import trippy
import pandas as  pd
import geopandas as gpd
from shapely.geometry import Point, LineString
import plotly.express as px
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("Y:\\MATSim\\Szenarien\\25%_Basecase_final_run116\\tripTable.txt.gz", sep='\t')

In [3]:
tt = trippy.TripTable(df['id'],
                       gpd.points_from_xy(df['fromX'],
                        df['fromY'], crs='EPSG:25833'),
                        gpd.points_from_xy(df['toX'],
                        df['toY'], crs='EPSG:25833'),
                        gpd.points_from_xy(df['fromX'],
                        df['fromY'], crs='EPSG:25833'), 
                        df['tripStartTime'], 
                        df['tripEndTime'], 
                        df['routedDistance'], 
                        df['mainMode'])

In [4]:
tt.create_DataFrame()

,trip_id,travel_mode,start_point,end_point,start_time,end_time,duration,routed_distance
0,0,car,POINT (385178.000 5817547.000),POINT (355129.000 5785232.000),0.0,3479.0,-3479.0,70480.0
1,1,car,POINT (404969.000 5821522.000),POINT (355129.000 5785232.000),0.0,5230.0,-5230.0,122128.0
2,2,car,POINT (387252.000 5812492.000),POINT (352107.000 5799689.000),0.0,2776.0,-2776.0,52642.0
3,3,ride,POINT (405035.000 5784826.000),POINT (368478.000 5806450.000),0.0,2775.0,-2775.0,54436.0
4,4,car,POINT (388459.000 5820192.000),POINT (352107.000 5799689.000),0.0,2930.0,-2930.0,53837.0
...,...,...,...,...,...,...,...,...
4237808,4237808,car,POINT (388870.000 5822901.000),POINT (388618.000 5822438.000),127035.0,127273.0,-238.0,729.0
4237809,4237809,ride,POINT (371094.000 5804124.000),POINT (377329.000 5810409.000),127270.0,129052.0,-1782.0,16293.0
4237810,4237810,car,POINT (392382.000 5823089.000),POINT (395414.000 5823808.000),127634.0,128404.0,-770.0,5042.0
4237811,4237811,walk,POINT (389388.000 5820748.000),POINT (389299.000 5820763.000),128446.0,128608.0,-162.0,224.0
4237812,4237812,walk,POINT (389388.000 5820748.000),POINT (389315.000 5820759.000),128971.0,129066.0,-95.0,131.0